<!-- This project is on github -->
<!-- https://github.com/s7phr/skidbin -->
<!-- made by t.me/societyrule illness@septet.us <3 skidbin <3 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Skidbin is a copy of Doxbin, just without the bias staff & Upgrades.">
    <title>Skidbin</title>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/skidbin.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.min.css')}}">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

        var order = 'none';
        var type = 'none';

    </script>
</head>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle the navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>

</html>